In [97]:
import pandas as pd
import numpy as np

df = pd.read_csv('miestai.csv')
df

,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897
0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...,...
98,Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
99,Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
100,Smalininkai,446,515,653,758,805,952,1100,1741,0
101,Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
102,Panemunė,210,274,329,398,506,545,539,637,0

In [98]:
df.set_index('Miestas', inplace=True)

In [99]:
for metai in df:
    print(metai)

2019
2011
2001
1989
1979
1970
1959
1923
1897

In [114]:
df

,2019,2011,2001,1989,1979,1970,1959,1923,1897,mazeja
Miestas,,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532,False
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920,False
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100,False
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128,False
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968,False
...,...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278,False
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546,False
Smalininkai,446,515,653,758,805,952,1100,1741,0,False
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000,False
Panemunė,210,274,329,398,506,545,539,637,0,False

In [121]:
df['mazeja'] = True
for miestas in df.index:
    gyventoju = df.loc[miestas, '2019'].copy()
    for metai in df.columns:
        if metai.isnumeric() and int(metai) < 2019:
            dabar = df.loc[miestas, metai].copy()
            if gyventoju >= dabar:
                df.loc[miestas, 'mazeja'] = False
                break
            gyventoju = dabar.copy()
# DONE

Vilnius 2011
nebemazeja
Kaunas 2011
Kaunas 2001
Kaunas 1989
Kaunas 1979
nebemazeja
Klaipėda 2011
Klaipėda 2001
Klaipėda 1989
Klaipėda 1979
nebemazeja
Šiauliai 2011
Šiauliai 2001
Šiauliai 1989
Šiauliai 1979
nebemazeja
Panevėžys 2011
Panevėžys 2001
Panevėžys 1989
Panevėžys 1979
nebemazeja
Alytus 2011
Alytus 2001
Alytus 1989
Alytus 1979
nebemazeja
Marijampolė 2011
Marijampolė 2001
Marijampolė 1989
Marijampolė 1979
nebemazeja
Mažeikiai 2011
Mažeikiai 2001
Mažeikiai 1989
Mažeikiai 1979
nebemazeja
Jonava 2011
Jonava 2001
Jonava 1989
Jonava 1979
nebemazeja
Utena 2011
Utena 2001
Utena 1989
Utena 1979
nebemazeja
Kėdainiai 2011
Kėdainiai 2001
Kėdainiai 1989
Kėdainiai 1979
nebemazeja
Tauragė 2011
Tauragė 2001
Tauragė 1989
Tauragė 1979
nebemazeja
Telšiai 2011
Telšiai 2001
Telšiai 1989
Telšiai 1979
nebemazeja
Ukmergė 2011
Ukmergė 2001
Ukmergė 1989
Ukmergė 1979
nebemazeja
Visaginas 2011
Visaginas 2001
Visaginas 1989
Visaginas 1979
nebemazeja
Plungė 2011
Plungė 2001
Plungė 1989
nebemazeja
Kretinga 2011
Kretinga 2001
Kretinga 1989
nebemazeja
Palanga 2011
Palanga 2001
Palanga 1989
nebemazeja
Radviliškis 2011
Radviliškis 2001
Radviliškis 1989
Radviliškis 1979
nebemazeja
Šilutė 2011
Šilutė 2001
Šilutė 1989
nebemazeja
Gargždai 2011
Gargždai 2001
nebemazeja
Druskininkai 2011
Druskininkai 2001
Druskininkai 1989
Druskininkai 1979
nebemazeja
Rokiškis 2011
Rokiškis 2001
Rokiškis 1989
Rokiškis 1979
nebemazeja
Elektrėnai 2011
Elektrėnai 2001
Elektrėnai 1989
Elektrėnai 1979
nebemazeja
Kuršėnai 2011
Kuršėnai 2001
Kuršėnai 1989
Kuršėnai 1979
nebemazeja
Grigiškės 2011
Grigiškės 2001
Grigiškės 1989
Grigiškės 1979
nebemazeja
Biržai 2011
Biržai 2001
Biržai 1989
Biržai 1979
nebemazeja
Garliava 2011
Garliava 2001
Garliava 1989
nebemazeja
Lentvaris 2011
Lentvaris 2001
Lentvaris 1989
Lentvaris 1979
nebemazeja
Jurbarkas 2011
Jurbarkas 2001
Jurbarkas 1989
Jurbarkas 1979
nebemazeja
Raseiniai 2011
Raseiniai 2001
Raseiniai 1989
Raseiniai 1979
nebemazeja
Vilkaviškis 2011
Vilkaviškis 2001
Vilkaviškis 1989
Vilkaviškis 1979
nebemazeja
Anykščiai 2011
Anykščiai 2001
Anykščiai 1989
Anykščiai 1979
nebemazeja
Prienai 2011
Prienai 2001
Prienai 1989
Prienai 1979
nebemazeja
Joniškis 2011
Joniškis 2001
Joniškis 1989
Joniškis 1979
nebemazeja
Varėna 2011
Varėna 2001
Varėna 1989
Varėna 1979
nebemazeja
Kelmė 2011
Kelmė 2001
Kelmė 1989
Kelmė 1979
nebemazeja
Kaišiadorys 2011
Kaišiadorys 2001
Kaišiadorys 1989
Kaišiadorys 1979
nebemazeja
Naujoji Akmenė 2011
Naujoji Akmenė 2001
Naujoji Akmenė 1989
Naujoji Akmenė 1979
Naujoji Akmenė 1970
nebemazeja
Šalčininkai 2011
nebemazeja
Pasvalys 2011
Pasvalys 2001
Pasvalys 1989
Pasvalys 1979
nebemazeja
Zarasai 2011
Zarasai 2001
Zarasai 1989
Zarasai 1979
nebemazeja
Kupiškis 2011
Kupiškis 2001
Kupiškis 1989
Kupiškis 1979
nebemazeja
Kazlų Rūda 2011
Kazlų Rūda 2001
Kazlų Rūda 1989
Kazlų Rūda 1979
nebemazeja
Širvintos 2011
Širvintos 2001
Širvintos 1989
Širvintos 1979
nebemazeja
Molėtai 2011
Molėtai 2001
Molėtai 1989
nebemazeja
Pabradė 2011
Pabradė 2001
Pabradė 1989
Pabradė 1979
nebemazeja
Skuodas 2011
Skuodas 2001
Skuodas 1989
Skuodas 1979
nebemazeja
Šakiai 2011
Šakiai 2001
Šakiai 1989
Šakiai 1979
nebemazeja
Ignalina 2011
Ignalina 2001
Ignalina 1989
Ignalina 1979
nebemazeja
Švenčionėliai 2011
Švenčionėliai 2001
Švenčionėliai 1989
Švenčionėliai 1979
nebemazeja
Šilalė 2011
Šilalė 2001
Šilalė 1989
Šilalė 1979
nebemazeja
Kybartai 2011
Kybartai 2001
Kybartai 1989
Kybartai 1979
nebemazeja
Vievis 2011
Vievis 2001
Vievis 1989
Vievis 1979
nebemazeja
Nemenčinė 2011
Nemenčinė 2001
Nemenčinė 1989
nebemazeja
Pakruojis 2011
Pakruojis 2001
Pakruojis 1989
Pakruojis 1979
nebemazeja
Trakai 2011
Trakai 2001
Trakai 1989
Trakai 1979
nebemazeja
Švenčionys 2011
Švenčionys 2001
Švenčionys 1989
Švenčionys 1979
nebemazeja
Kalvarija 2011
Kalvarija 2001
Kalvarija 1989
Kalvarija 1979
Kalvarija 1970
nebemazeja
Lazdijai 2011
Lazdijai 2001
Lazdijai 1989
Lazdijai 1979
nebemazeja
Neringa 2011
Neringa 2001
nebemazeja
Žiežmariai 2011
Žiežmariai 2001
Žiežmariai 1989
nebemazeja
Rietavas 2011
Rietavas 2001
Rietavas 1989
Rietavas 1979
nebemazeja
Eišiškės 2011
Eišiškės 2001
Eišiškės 1989
Eišiškės 1979
nebemazeja
Ariogala 2011
Ariogala 2001
Ariogala 1989
Ariogala 1979
nebemazeja
Šeduva 2011
Šeduva 2001
Šeduva 1989
Šeduva 1979
nebemazeja
Birštonas 2011
Birštonas 2001
Birštonas 1989
Birštonas 1979
nebemazeja
Akmenė 2011
Akmenė 2001
Akmenė 1989
Akmenė 1979
nebemazeja
Venta 2011
Venta 2001
Venta 1989
Venta 1979
nebemazeja
Rūdiškės 2011
Rūdiškės 2001
Rūdiškės 1989
nebemazeja
Vilkija 2011
Vilkija 2001
Vilkija 1989
Vilkija 1979
nebemazeja
Tytuvėnai 2011
Tytuvėnai 2001
Tytuvėnai 1989
Tytuvėnai 1979
Tytuvėnai 1970
Tytuvėnai 1959
nebemazeja
Viekšniai 2011
Viekšniai 2001
Viekšniai 1989
Viekšniai 1979
Viekšniai 1970
nebemazeja
Ežerėlis 2011
Ežerėlis 2001
Ežerėlis 1989
Ežerėlis 1979
nebemazeja
Gelgaudiškis 2011
Gelgaudiškis 2001
Gelgaudiškis 1989
Gelgaudiškis 1979
nebemazeja
Pagėgiai 2011
Pagėgiai 2001
Pagėgiai 1989
Pagėgiai 1979
Pagėgiai 1970
Pagėgiai 1959
Pagėgiai 1923
nebemazeja
Kudirkos Naumiestis 2011
Kudirkos Naumiestis 2001
Kudirkos Naumiestis 1989
Kudirkos Naumiestis 1979
Kudirkos Naumiestis 1970
Kudirkos Naumiestis 1959
Kudirkos Naumiestis 1923
Kudirkos Naumiestis 1897
Skaudvilė 2011
Skaudvilė 2001
Skaudvilė 1989
Skaudvilė 1979
Skaudvilė 1970
Skaudvilė 1959
Skaudvilė 1923
nebemazeja
Ramygala 2011
Ramygala 2001
Ramygala 1989
Ramygala 1979
Ramygala 1970
nebemazeja
Žagarė 2011
Žagarė 2001
Žagarė 1989
Žagarė 1979
Žagarė 1970
Žagarė 1959
Žagarė 1923
Žagarė 1897
Salantai 2011
Salantai 2001
Salantai 1989
Salantai 1979
nebemazeja
Linkuva 2011
Linkuva 2001
Linkuva 1989
Linkuva 1979
nebemazeja
Simnas 2011
Simnas 2001
Simnas 1989
Simnas 1979
nebemazeja
Priekulė 2011
Priekulė 2001
Priekulė 1989
Priekulė 1979
Priekulė 1970
Priekulė 1959
nebemazeja
Veisiejai 2011
Veisiejai 2001
Veisiejai 1989
Veisiejai 1979
nebemazeja
Baltoji Vokė 2011
nebemazeja
Joniškėlis 2011
Joniškėlis 2001
Joniškėlis 1989
Joniškėlis 1979
Joniškėlis 1970
Joniškėlis 1959
Joniškėlis 1923
nebemazeja
Jieznas 2011
Jieznas 2001
Jieznas 1989
Jieznas 1979
nebemazeja
Varniai 2011
Varniai 2001
Varniai 1989
Varniai 1979
Varniai 1970
nebemazeja
Daugai 2011
Daugai 2001
Daugai 1989
Daugai 1979
nebemazeja
Seda 2011
Seda 2001
Seda 1989
Seda 1979
Seda 1970
Seda 1959
Seda 1923
nebemazeja
Subačius 2011
Subačius 2001
Subačius 1989
Subačius 1979
nebemazeja
Virbalis 2011
Virbalis 2001
Virbalis 1989
Virbalis 1979
Virbalis 1970
nebemazeja
Vabalninkas 2011
Vabalninkas 2001
Vabalninkas 1989
Vabalninkas 1979
Vabalninkas 1970
nebemazeja
Obeliai 2011
Obeliai 2001
Obeliai 1989
Obeliai 1979
nebemazeja
Dūkštas 2011
Dūkštas 2001
Dūkštas 1989
Dūkštas 1979
Dūkštas 1970
nebemazeja
Pandėlys 2011
Pandėlys 2001
Pandėlys 1989
Pandėlys 1979
nebemazeja
Užventis 2011
Užventis 2001
Užventis 1989
Užventis 1979
Užventis 1970
Užventis 1959
Užventis 1923
nebemazeja
Dusetos 2011
Dusetos 2001
Dusetos 1989
Dusetos 1979
Dusetos 1970
Dusetos 1959
Dusetos 1923
nebemazeja
Kavarskas 2011
Kavarskas 2001
Kavarskas 1989
Kavarskas 1979
Kavarskas 1970
Kavarskas 1959
Kavarskas 1923
nebemazeja
Smalininkai 2011
Smalininkai 2001
Smalininkai 1989
Smalininkai 1979
Smalininkai 1970
Smalininkai 1959
Smalininkai 1923
Smalininkai 1897
nebemazeja
Troškūnai 2011
Troškūnai 2001
Troškūnai 1989
Troškūnai 1979
Troškūnai 1970
Troškūnai 1959
Troškūnai 1923
nebemazeja
Panemunė 2011
Panemunė 2001
Panemunė 1989
Panemunė 1979
Panemunė 1970
Panemunė 1959
nebemazeja

In [122]:
df[df['mazeja'] == True]

,2019,2011,2001,1989,1979,1970,1959,1923,1897,mazeja
Miestas,,,,,,,,,,
Kudirkos Naumiestis,1480,1732,1997,2061,2090,2486,2574,3067,4595,True
Žagarė,1366,1712,2312,2649,2918,3386,3800,4730,8285,True